 <!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.min.js"></script>

<script src="index.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link data-require="bootstrap-css@2.3.2" data-semver="2.3.2" rel="stylesheet"
    href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<link href="style.css" rel="stylesheet">

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>

<body ng-app="myApp" ng-controller="main">

    
    <div class="card">
        <div class="card-header">
            <h4> Banks Search Application </h4>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-4">
                    
                        <lable>Select City:</lable>
                        <select name="selection" ng-model="location" ng-change="getBank(location)">
                            <!-- <option value=""> -- Please select --</option> -->
                            <option value="DELHI">Delhi </option>
                            <option value="MUMBAI">Mumbai </option>
                            <option value="CHENNAI">Chennai</option>
                            <option value="HYDERABAD">Hyderabad</option>
                            <option value="JAIPUR">Jaipur</option>

                        </select>
                     
                </div>
                <div class="col-md-4">
                    <input type="text" ng-model="searchbank" placeholder="Search Anything" class="col-md-8"style="height: 29px;" type="text" />

                </div>
                <div class="col-md-4">
                    <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"  class="col-md-3">
                        <!-- <option value="">10</option> -->
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select> Records at a time.
                </div>
            </div>

        </div>
        <img ng-if="showrecord1"
            src="https://media2.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.webp?cid=790b76115cc5f3165a6b4b78739adbc5&rid=giphy.webp">
        <div class="table-responsive container" ng-if="showrecord">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Bank Name
                        </th>
                        <th>
                            IFSC
                        </th>

                        <th>
                            Branch
                        </th>
                        <th>
                            Favourite/Not Favourite
                        </th>
                    </tr>

                </thead>
                <tbody>
                    <tr
                    ng-repeat="bank in (data| filterBy: ['bank_name', 'ifsc', 'branch'] :searchbank).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) as filtered">
                        <td>
                            <a ng-click="getBankById(bank.ifsc)" class="accordion"  href='#!banks'>{{bank.bank_name}}</a>

                        </td>
                        <td>
                            {{bank.ifsc}}
                        </td>

                        <td>
                            {{bank.branch}}
                        </td>
                        <td>
                            <a href="" ng-click="markFavourite(bank.ifsc)" ng-if="isFavourite">{{getFavourite(bank.ifsc)}}</a>
                            <a href="" ng-click="markFavourite(bank.ifsc)" ng-if="!isFavourite">{{getFavourite(bank.ifsc)}}</a>
                            
                        </td>
                      
                    </tr>

                   

                </tbody>

            </table>
            <pagination ng-show="showrecord" total-items="totalItems" ng-model="currentPage" max-size="maxSize"
                class="pagination-sm position-relative" boundary-links="true" items-per-page="itemsPerPage">
            </pagination>
        </div>


    </div>
<div ng-view></div>
</body>

</html>
